<div>
  <md-sidenav-layout>
  <md-toolbar color="primary">
    <button class="app-icon-button" (click)="sidenav.toggle()">
      <i class="material-icons app-toolbar-menu">menu</i>
    </button> 
    <md-icon class="icon-20">event</md-icon> Meal manager
  </md-toolbar>
  <md-sidenav #sidenav align="start" mode="over" class="app-sidenav" layout-padding color="primary">
    <h2>
      Meal manager
    </h2>
    <ul class="menu" (click)="sidenav.close()">
      <li>
        <a routerLink="/main" routerLinkActive="active"><md-icon>home</md-icon> Main</a>
      </li>
       <li>
        <a routerLink="/recipe" routerLinkActive="active"><md-icon>receipt</md-icon> Recipe</a>
      </li>
    </ul>
   

     <button md-raised-button class="md-raised md-accent side-nav-close-button" (click)="sidenav.close()">Close</button>
  </md-sidenav>
  
  <md-card class="app-content"> 
    <router-outlet></router-outlet>
  </md-card>
  </md-sidenav-layout>
</div>